body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: black;
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

#calculator {
  width: 100%;
  overflow: hidden;
  max-width: 375px;
  border-radius: 15px;
  background-color: hsl(0, 0%, 5%);
}

#display {
  width: 95%;
  border: none;
  color: white;
  font-size: 5rem;
  padding: 20px 0px;
  text-align: right;
  pointer-events: none;
  background-color: transparent;
}

#keys {
  gap: 10px;
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  width: 80px;
  height: 80px;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s ease;
  background-color: hsl(0, 0%, 20%);
}

button:hover {
  background-color: hsl(0, 0%, 30%);
}

button:active {
  background-color: hsl(0, 0%, 40%);
}

.operator-btn {
  background-color: hsl(35, 100%, 50%);
}

.operator-btn:hover {
  background-color: hsl(35, 100%, 55%);
}

.operator-btn:active {
  background-color: hsl(35, 100%, 60%);
}

.function-btn {
  background-color: hsl(0, 0%, 45%);
}

.function-btn:hover {
  background-color: hsl(0, 0%, 50%);
}

.function-btn:active {
  background-color: hsl(0, 0%, 60%);
}
